<div class="search">
    <div class="search-from">
        <app-selector [nodes]="stations | async"
                      [node]="stationFrom"
                      (select)="updateStationFrom($event)">
        </app-selector>
    </div>
    <div class="search-to">
        <app-selector [nodes]="stations | async"
                      [node]="stationTo"
                      (select)="updateStationTo($event)">
        </app-selector>
    </div>
    <div class="search-reverse">
        <button (click)="reverse()">
            <svg viewBox="0 0 60 120">
                <line x1="15" y1="30" x2="45" y2="30"></line>
                <line x1="45" y1="30" x2="45" y2="90"></line>
                <line x1="15" y1="90" x2="45" y2="90"></line>
                <polygon points="15,30 22,23 22,37" style="fill:black" />
                <polygon points="15,90 22,83 22,97" style="fill:black" />
            </svg>
        </button>
    </div>

    <div class="search-date">
        <input type="datetime-local" [(ngModel)]="date">
    </div>

    <div class="search-type">
        <label>
            <input type="radio" name="searchType" [(ngModel)]="searchType" value="出發">出發
        </label>
        <label>
            <input type="radio" name="searchType" [(ngModel)]="searchType" value="抵達">抵達
        </label>
    </div>

    <div class="search-submit">
        <button (click)="search()">Search</button>
    </div>
</div>
<hr/>

<div class="result">
    <table>
    <tbody>
        <tr *ngFor="let t of timetables | async">
            <td>{{ t.DailyTrainInfo.TrainType }}</td>
            <td>{{ t.DailyTrainInfo.TrainNo }}</td>
            <td>{{ t.OriginStopTime.DepartureTime }}</td>
            <td>{{ t.DestinationStopTime.ArrivalTime }}</td>
            <td>{{ t.DailyTrainInfo.Note.Zh_tw }}</td>
            <td></td>
        </tr>
    </tbody>
    </table>
</div>
