svg {
    stroke: #000;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;

    height: 100%;
    width: 100%;
}

.search {
    margin: 0 auto;

    display: grid;
    grid-template-areas: "from reverse submit"
                         "to   reverse submit"
                         "date type    type";
    grid-template-columns: max-content;
    justify-content: center;
    grid-column-gap: 5px;

    .search-from {
        $color: #487cfb;
        display: flex;
        align-items: center;
        grid-area: from;
        color: $color;
        app-selector {
            width: 12rem;
        }
        @media (min-width: 360px) {
            &:before {
                content: '出發站';
                border-right: 2px solid $color;
                padding-right: .5rem;
                margin-right: .5rem;
            }
        }
    }

    .search-to {
        $color: #7aaf6d;
        display: flex;
        align-items: center;
        grid-area: to;
        color: $color;
        app-selector {
            width: 12rem;
        }
        @media (min-width: 360px) {
            &:before {
                content: '到達站';
                border-right: 2px solid $color;
                padding-right: .5rem;
                margin-right: .5rem;
            }
        }
    }

    .search-reverse {
        grid-area: reverse;
        button {
            height: calc(4rem + 4px);
            width: 2rem;
            border-radius: 3px;
            display: block;
            padding: 0;
        }
    }

    .search-date {
        $color: orange;
        grid-area: date;
        display: flex;
        align-items: center;
        color: $color;
        @media (min-width: 360px) {
            &:before {
                content: '時間';
                border-right: 2px solid $color;
                padding-left: 1rem;
                padding-right: .5rem;
                margin-right: .5rem;
            }
        }
        input {
            $gap: 5px;
            height: 2rem;
            border: 1px solid #777;
            font-size: 1rem;
            padding-left: $gap;
            padding-right: $gap;
            width: calc(12rem - #{$gap * 2});
        }
    }

    .search-type {
        grid-area: type;
        display: flex;
        align-items: center;
    }

    .search-submit {
        grid-area: submit;
        button {
            height: calc(4rem + 4px);
            width: calc(4rem + 4px);
            border-radius: 3px;
        }
    }
}
